
body {
    background-color: #0f0f0fe7;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif
  }

  /*--------navbar section---------*/
  .container {
    min-width: 70%;
    padding: 3px 6%;
    margin-top: -20px;
  }
  .logo img {
    width: 180px;
  }
  .dropdown button {
    width: fit-content;
    height: 32px;
    padding: 0 14px;
  }
  .dropdown button,
  .dropdown button:hover,
  .dropdown button:active,
  .dropdown button:focus {
    border: 1px solid rgb(90, 91, 87);
    color: white !important;
    font-weight: 500;
  }
  .dropdown-menu {
    margin: -3px;
    padding: 2px 0;
  }
  .red-button {
    background-color: #e50815;
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 17px;
    list-style: none;
    cursor: pointer;
  }
  .red-button:hover {
    background-color: #a91118;
  }
  @media (max-width: 1200px) {
    .container {
      max-width: 100%;
    }
  }
  @media (max-width: 780px) {
    .container {
      margin-top: 0px;
    }
    .navbar li:nth-child(1) {
      margin-top: -20px;
    }
    .dropdown button {
      font-size: 0;
    }
    .dropdown-menu {
      padding-top: 22px;
      padding-bottom: 3px;
    }
  }
  @media (max-width: 570px) {
    .right-buttons {
      padding: 0 15px;
    }
  }

  /*--------main section---------*/
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 900px; 
    margin-top: -290px;
    background-image: linear-gradient(rgb(0, 0, 0)10%, rgba(1, 1, 1, 0.454) 40%, rgba(0, 0, 0, 0.8) 100%), url('./pictures/background.jpg') ;
    background-size: cover;
    background-position: center center;
  }
  .area {
    color: white;
    text-align: center;
    margin-top: 280px;
  }
  .area h1 {
    width: 100%;
    font-size: 3rem;
    font-weight:900;
    word-spacing: 1px;
    margin-bottom: 3rem;
  }
  .area h3 {
    margin-top: -30px;
    font-size: 25px;
    font-weight:400;
    margin-bottom: 30px;
  }
  .area h4 {
    font-size: 20px;
    font-weight: normal;
  }
  .email-signup {
    align-items: center;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
  }
  .email-signup input {
    background-color: rgba(25, 22, 22, 0.809);
    min-height: 55px;
    max-width: 365px;
    border: 1px solid rgba(132, 128, 128, 0.688);
  }
  .email-signup input::placeholder {
    color: rgb(167, 162, 162);
    padding-left: 3px;
  }
  .email-signup input:focus {
    background-color: rgba(25, 22, 22, 0.809);
    color: rgb(255, 255, 255);
    border: 2px solid rgba(250, 250, 250, 0.865);
  }
  .email-signup button {
    background-color: #e50815;
    color: #fff;
    cursor: pointer;
    padding: 8px 20px;
    border: none;
    font-size: 25px;
    font-weight: 500;
    white-space: nowrap;
  }
  .email-signup button:hover {
    background-color: #a91118;
  }
  @media (max-width: 768px) {
    .area h1 {
      font-size: 35px;
    }
  }
  @media (max-width: 600px) {
  .email-signup {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    }
  }

  /*--------discount section---------*/
  .discount-container {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
  }
  .discount {
    position: relative;
    z-index: 1;
    background: radial-gradient( 51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100% );
    justify-content: center;
    top: -85px; 
    padding: 20px; 
    color: #fff;
    box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
    width: 90%;
  }
  .discount img {
    width: 50%;
    margin-left: 42%;
    margin-top: -7px;
  }
   .discount-info {
    margin-right: 7%;
    margin-top: 7px;
  }
  .discount-info h5 {
    font-weight: 500;
  }
  .discount-info p {
    font-weight: 400;
    margin-bottom: 1px;
  }
  .discount-info a {
    color: #3f7bf3;
    font-weight: 500;
    padding-bottom: 0px;
  }
  .discount-info i {
    margin-left: 10px;
    font-size: 20px;
  }
  @media (max-width: 620px) {
    .discount img {
      display: none; 
    }
  }
  @media (max-width: 375px) {
    .discount {
      margin: 70px 10px; 
    }
  }

/*--------TV section---------*/
 .black-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 60px 180px 0px 150px ;
  position: relative; 
  overflow:scroll;
  min-height: 550px;
}
.text h1 {
  letter-spacing: -1px;
  font-size: 3.100rem;
  font-weight: 900;
}
.text p {
  font-size: 23px;
  line-height: 130%;
  margin-top: 15px;
  margin-bottom: 90px;
}
.tv {
  position: relative;
}
.tv video {
  position: absolute;
  width: 73%;
  height: 50%;
  z-index: 1; 
  top: 13%;
  left: 70px;
}
.black-container img {
  height: 400px;
  position: relative;
  z-index: 2; 
}
.black-container .image {
  padding-bottom: 100px;
  overflow:hidden;
}
@media (max-width: 1300px) {
  .black-container {
    padding: 60px 10px 0px 10px ;
  }
}
@media (max-width: 980px) {
  .black-container {
    display: flex;
    flex-direction: column;
  }
  .text {
    margin-top: 100px;
    margin-bottom: -90px ;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .text h1 {
    font-size: 35px;
  }
  .text p {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .text {
    margin-top: 150px;
  }
}

/*--------PC section---------*/
 .pc-container {
  margin-top: 8px; 
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 60px 180px 0px 150px ;
  position: relative; 
  overflow:scroll;
  min-height: 550px;
}
.pc {
  position: relative;
}
.pc video {
  position: absolute;
  z-index: 1; 
  width: 80%;
  height: 40%;
  top: 10%;
  left: 50px;
}
.pc-container img {
  height: 400px;
  position: relative;
  z-index: 2; 
}
.pc-container .image {
  padding-bottom: 100px;
  overflow:hidden;
}
.pc-text h1 {
  letter-spacing: -1px;
  font-size: 3.100rem;
  font-weight: 900;
}
.pc-text p {
  font-size: 23px;
  line-height: 130%;
  margin-top: 15px;
  margin-bottom: 90px;
}
@media (max-width: 1300px) {
  .pc-container {
    padding: 60px 10px 0px 10px ;
  }
}
@media (max-width: 980px) {
  .pc-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .pc-text {
    margin-top: 20px;
    margin-bottom: -90px ;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .pc-text h1 {
    font-size: 35px;
  }
  .pc-text p {
    font-size: 20px;
  }
}

/*--------kids section---------*/
.kids-container {
  margin-top: 8px; 
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 60px 180px 0px 150px ;
  position: relative; 
  overflow:scroll;
  min-height: 550px;
}
.kids {
  position: relative;
}
.kids-container img {
  height: 400px;
  position: relative;
  z-index: 2; 
}
.kids-container .image {
  padding-bottom: 100px;
  overflow:hidden;
}
@media (max-width: 1300px) {
  .kids-container {
    padding: 60px 10px 0px 10px ;
  }
}
@media (max-width: 980px) {
  .kids-container {
    display: flex;
    flex-direction: column;
  }
}

/*--------download section---------*/
.download-container {
  margin-top: 8px; 
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 60px 180px 80px 150px ;
  position: relative; 
  overflow:scroll;
  min-height: 550px;
}
.download-box {
  background-color: #000;
  border: 2px solid rgb(80, 78, 78);
  padding: 8px 12px;
  width: 55%;
  border-radius: 10px;
  box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);

  position: absolute;
  bottom:30px; 
  left: 280px; 
  transform: translateX(-50%);
}
.download-box img {
  max-width: 60px;
}
.download-box .space {
line-height: 3px;
margin-right: 25px;
}
.download-box h1 {
color: #fff;
font-size: 16px;
}
.download-box p {
  color: #0171eb;
  font-size: 14px;
}
.download-text h1 {
  letter-spacing: -1px;
  font-size: 3.100rem;
  font-weight: 900;
}
.download-text p {
  font-size: 23px;
  line-height: 130%;
  margin-top: 15px;
  margin-bottom: 90px;
}
.download-image img{
  width: 550px;
}
@media (max-width: 1300px) {
  .download-container {
    padding: 60px 10px 80px 10px ;
  }
}
@media (max-width: 980px) {
  .download-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .download-text {
    margin-top: 20px;
    margin-bottom: -90px ;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .download-text h1 {
    font-size: 35px;
  }
  .download-text p {
    font-size: 20px;
  }
}

/*--------faq section---------*/
.faq-container {
  background-color: black;
  margin-top: 8px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  overflow: scroll;
}
.faq-container h1 {
  font-size: 3rem;
  padding-top: 40px;
  font-weight:bold;
}
.accordion {
  background-color: #2d2d2d;
  cursor: pointer;
  width: 77%;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 10px 20px;
  border: 1px solid black;
  margin-bottom: -9px;
}
.accordion:hover {
  background-color: #414141;
}
.accordion::after {
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  content: "\f067";
}
.accordion.active::after {
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  content: "\f00d";
}
.faq-container .description {
  width: 77%;
  max-height: 0;
  overflow: scroll;
  transition: max-height 0.3s ease;
  text-align: justify;
  background-color: #2d2d2d;
  font-size: 23px;
  padding: 0 20px; 
  line-height: 30px;
}
.membership {
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
  padding: 0 20px;
}
.faq-signup {
  display: flex;
  justify-content: center;
  margin: 0px 1px 70px 1px;
  width: 100%;
}
.faq-signup input {
  background-color: #0f0f0f;
  max-width: 25%;
  border: 1px solid rgba(132, 128, 128, 0.688);
  padding: 8px 20px;
}
.faq-signup input::placeholder {
  color: rgb(167, 162, 162);
  padding-left: 3px;
}
.faq-signup input:focus {
  background-color: rgba(25, 22, 22, 0.809);
  color: rgb(255, 255, 255);
  border: 2px solid rgba(250, 250, 250, 0.865);
}
.faq-signup button {
  background-color: #e50815;
  color: #fff;
  cursor: pointer;
  padding: 8px 20px;
  border: none;
  font-size: 25px;
  font-weight: 500;
  max-width: 180px; 
  white-space: nowrap;
}
.faq-signup button:hover {
  background-color: #a91118;
}
@media (max-width: 650px) {
  .faq-container h1 {
    font-size: 2rem;
  }
  .faq-signup {
    flex-direction: column;
    align-items: center; 
  }
  .faq-signup input {
    max-width: 70%;
    padding: 12px 20px;
  }
  .faq-signup button {
    max-width: 90%; 
    margin-top: 10px; 
  }
}

/*--------footer section---------*/
.footer {
  background-color: black;
  margin-top: 8px;
  padding: 0px 11%;
}
.questions {
  padding-top: 4%;
  padding-bottom: 2%;
}
.questions a {
  color: #b3b3b3;
}
.footer-container {
  justify-content: space-between;
}
.list li {
  margin: 10px 0px;
  list-style-type: none;
}
.list li a {
  color: #b3b3b3;
  text-decoration: underline;
  font-size: 15px;
  cursor: pointer;
}
.dropdown-footer button {
  height: 32px;
  padding: 0 14px;
}
.dropdown-footer button,
.dropdown-footer button:hover,
.dropdown-footer button:active,
.dropdown-footer button:focus {
  border: 1px solid rgb(90, 91, 87);
  color: white !important;
  font-weight: 500;
}
.end-quote {
  color: #b3b3b3;
  margin-top: 30px;
}
.end-quote h2 {
  font-size: 14px;
  padding-bottom: 60px;
}
@media (max-width: 992px) {
  .footer-container {
      flex-direction: column;
  }
}
  
/*--------Modal Window---------*/
.newBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 6, 6, 0.122); 
  display: none;
  z-index: 1000; 
  overflow: auto;
}
.dialog-opened .newBackground {
  display: block; 
  background-image: linear-gradient(rgba(0, 0, 0, 0.421), rgba(0, 0, 0, 0.465)), url('./pictures/background.jpg');
  background-size: cover;
}
#closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
#closeButton:focus {
  outline: none;
}
#closeIcon:hover {
  fill: #a91118;
}
#signInModal {
  padding: 48px 65px;
  max-width: 420px;
  background-color: #000000b4;
  color: white;
  border: none;
  border-radius: 10px;
  overflow-y: scroll;
}
#signInModal h3{
  font-size: 2rem;
  font-weight: 700;
}
.emailInput{
  color: rgb(255, 255, 255);
  background-color: #1616166e;
  border: 1px solid rgba(132, 128, 128, 0.688);
  min-height: 56px;
  width: 100%;
  margin-top: 28px;
}
.emailInput:focus{
  color: rgb(255, 255, 255);
  background-color: #2423236e;
  border: 2px solid white;
  box-shadow: none !important;
}
.passwordInput{
  color: rgb(255, 255, 255);
  background-color: #1616166e;
  border: 1px solid rgba(132, 128, 128, 0.688);
  min-height: 56px;
  width: 100%;
  margin-top: 16px;
}
.passwordInput:focus{
  color: rgb(255, 255, 255);
  background-color: #2423236e;
  border: 2px solid white;
  box-shadow: none !important;
}
.signInputs ::placeholder{
  color: #919292;
  padding-left: 3px;
}
.signButton{
  background-color: #e50815;
  color: #fff;
  cursor: pointer;
  padding: 8px 20px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  width: 100%;
}
.signButton:hover {
  background-color: #a91118;
}
.passwordLink{
  display: flex;
  justify-content: center;
  margin-top: 13px;
}
.passwordLink a{
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}
.passwordLink a:hover{
text-decoration: underline;
color: rgb(186, 178, 178);
}
.signFooter {
  margin-top: 100px;
}
.form-check-input {
  background-color: black !important; 
  border-color: rgba(128, 128, 128, 0.56); 
  width: 19px;
  height: 19px;
  border-radius: 3px !important;
}
.form-check-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: rgba(128, 128, 128, 0.56); 
}
.form-check-input:hover {
  border: 1px solid rgba(255, 255, 255, 0.938); 
  transition: border 0.4s ease-out;
  cursor: pointer;
}
input.form-check-input:checked[type="checkbox"] {
  background-color: #9fa39e !important;
  border: none;
}
input.form-check-input:checked[type="checkbox"]:hover {
  background-color: #6f726e !important;
  border: none;
}
.form-check label{
  margin-top: 2px;
  margin-left: 7px;
  font-weight: 400;
}
.newToNetflix{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.61);
  margin-top: 15px;
}
.newToNetflix a{
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.newToNetflix a:hover{
  text-decoration: underline;
}
.protectionInfo {
  margin-top: 10px;
  font-size: 13px;
  color: grey;
  line-height: 16px;
}
.protectionInfo span {
  cursor: pointer;
  font-size: 13px;
  color: #0b67d7;
}
.protectionInfo span:hover {
  text-decoration: underline;
}
#additionalInfo {
  margin-top: 13px;
  font-size: 13px;
  color: grey;
  line-height: 16px;
}
#additionalInfo a {
  color: #3a79ef;
  text-decoration: none;
}
#additionalInfo a:hover {
  text-decoration: underline;
}
